################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RATA/.vs/RATA
/RATA/RATA.Migrator/obj/Debug/net8.0
/RATA/RATA.Migrator/obj/Release/net8.0
/RATA/RATA.Shared/obj/Debug/net8.0
/RATA/RATA.Shared/obj/Release/net8.0
